{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

    <h1>Poster un avis sur ce film</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.age) }}
    {{ form_row(form.website) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.opinion) }}
    {{ form_row(form.emotion) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.message) }}
    {{ form_row(form.date) }}

    <button type="submit" class="btn btn-secondary">Envoyer</button>

    {{ form_end(form) }}

{% endblock %}
