{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

    <h1>Poster un avis sur ce film</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.age) }}
    {{ form_row(form.url) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.review) }}
    {{ form_row(form.feeling) }}
    {{ form_row(form.file) }}
    {{ form_row(form.message) }}
    {{ form_row(form.watchedAt) }}
    {{ form_row(form.robotCheck) }}

    <button type="submit" class="btn btn-secondary">Envoyer</button>

    {{ form_end(form) }}

{% endblock %}
